// Calibri
@font-face {
  font-family: 'Calibri';
  src: url('../fonts/Calibri/Calibri-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri';
  src: url('../fonts/Calibri/Calibri-Light-Italic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Calibri';
  src: url('../fonts/Calibri/Calibri-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri';
  src: url('../fonts/Calibri/Calibri-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Calibri';
  src: url('../fonts/Calibri/Calibri-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri';
  src: url('../fonts/Calibri/Calibri-Bold-Italic.ttf');
  font-weight: 700;
  font-style: italic;
}

//Avenir
@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir/AvenirNextLTPro-Bold.otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir/AvenirNextLTPro-It.otf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir/AvenirNextLTPro-Regular.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir/AvenirNextLTPro-Demi.otf');
  font-weight: 500;
  font-style: normal;
}